# Assessment - 2 Gradable

- Each question carries 3 marks
- Marks will be assigned in terms of:
    
    **1. Expected output**
    
    **2. Quality and Explainability of code**

    ***Go back through the script and type a comment above each line explaining in English what it does.***

    **3. Copied code, if found, will result in 0 marks for that question. To avoid this make as much comments in the code to explain the approach**

### 1.

Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.

Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [3]:
# The sort() method sorts the list ascending order.

tuple1 = [(7, 5), (4, 2), (6, 4), (8, 3), (5, 1)]
print (tuple1)
print ()

tuple1.sort() # (ascending) sorted in increasing order
print (tuple1)
print ()

# tuple1.sort(reverse=True) # formula for descending
# print (tuple1)

[(7, 5), (4, 2), (6, 4), (8, 3), (5, 1)]

[(4, 2), (5, 1), (6, 4), (7, 5), (8, 3)]

### 2. 

Grab ``StarAgile`` from the following Dictionaries

d_difficult = {'k1':[{'nest_key':['this is deep',['StarAgile']]}]}

d_irritating = {'k1':[1,2,{'k2':['this is not easy',{'VeryIrriating':[1,2,['StarAgile']]}]}]}

In [21]:
d_difficult = {'k1':[{'nest_key':['this is deep',['StarAgile']]}]}
print(d_difficult)
print()
d_difficult['k1'][-1]['nest_key'][-1][-1]
# all the elements is a value of 'k1' key so first have to run d_difficult['k1'] next the value of ['nest_key'] have to run, 
# we will get output of 'nest_key' -['this is deep', ['StarAgile'] in this we need to grab 'StarAgile' as it is last element,
# we can use -1 and -1 to remove list.

{'k1': [{'nest_key': ['this is deep', ['StarAgile']]}]}

'StarAgile'

In [24]:
d_irritating = {'k1':[1,2,{'k2':['this is not easy',{'VeryIrriating':[1,2,['StarAgile']]}]}]}
print(d_irritating)
print()
d_irritating['k1'][-1]['k2'][-1]['VeryIrriating'][-1][-1]
# all the elements is a value of 'k1' key so first have to run d_irritating to define -1 to remove list,next set k2 need to grab
# and -1 to remove k2 key value and last key is 'VeryIrriating' in that 'StarAgile' is last element,
# we can use -1 and -1 to remove list.

{'k1': [1, 2, {'k2': ['this is not easy', {'VeryIrriating': [1, 2, ['StarAgile']]}]}]}

'StarAgile'

### 3.

Write a program to accept a string from the user and display characters that are present at an even index number.

For example, str = "judgemental" so you should display ‘j’, ‘d’, ‘e’, ‘e’, ‘t’, ‘l’.

In [15]:
# Printing 2nd index of "judgemental" by using :: and index number
str ="judgemental"
print(str[::2])
print()
aList = list(str)
print (aList[::2]) # converting str in to aList and entered program to find 2nd index

jdeetl

['j', 'd', 'e', 'e', 't', 'l']

In [9]:
# OTHER WAY TO SOLVE THIS OPTIONAL
# j u d g e m e n t a l
# 0 1 2 3 4 5 6 7 8 9 10

str = "judgemental"
print (str)

aList = list(str)
print (aList)

aList = ['j', 'u', 'd', 'g', 'e', 'm', 'e', 'n', 't', 'a', 'l']
print ('List = ', aList)
print ()

print (aList.pop(1)) # print the element or value which will be removed
print ()
print ('List = ', aList)
print ()

print (aList.pop(4)) # print the element or value which will be removed
print ()
print ('List = ', aList)
print ()

print (aList.pop(2)) # print the element or value which will be removed
print ()
print ('List = ', aList)
print ()

print (aList.pop(4)) # print the element or value which will be removed
print ()
print ('List = ', aList)
print ()

print (aList.pop(5)) # print the element or value which will be removed
print ()
print ('List = ', aList)
print ()

print(aList)

judgemental
['j', 'u', 'd', 'g', 'e', 'm', 'e', 'n', 't', 'a', 'l']
List =  ['j', 'u', 'd', 'g', 'e', 'm', 'e', 'n', 't', 'a', 'l']

u

List =  ['j', 'd', 'g', 'e', 'm', 'e', 'n', 't', 'a', 'l']

m

List =  ['j', 'd', 'g', 'e', 'e', 'n', 't', 'a', 'l']

g

List =  ['j', 'd', 'e', 'e', 'n', 't', 'a', 'l']

n

List =  ['j', 'd', 'e', 'e', 't', 'a', 'l']

a

List =  ['j', 'd', 'e', 'e', 't', 'l']

['j', 'd', 'e', 'e', 't', 'l']

### 4. 

Convert the Float Value of '3.8' into Integer, Complex, Binary and Hexidecimal format

In [4]:
Floatvalue = 3.8
print(Floatvalue)
print()
Floatvalue = int(Floatvalue) # converted in to integer
print("convert",Floatvalue)
print()
Floatvalue = bin(Floatvalue) # converted in to Binary
print("Binary =",Floatvalue)

3.8

convert 3

Binary = 0b11

In [5]:
Floatvalue = 3.8
print(Floatvalue)
print()
Floatvalue = int(Floatvalue) # converted in to integer
print("convert",Floatvalue)
print()
Floatvalue = complex(Floatvalue) # converted in to Complex
print("Complex =",Floatvalue)
print()

3.8

convert 3

Complex = (3+0j)

In [6]:
Floatvalue = 3.8
print(Floatvalue)
print()
Floatvalue = int(Floatvalue) # converted in to integer
print("convert",Floatvalue)
print()
Floatvalue = hex(Floatvalue) # converted in to Hexidecimal
print("Hexidecimal =",Floatvalue)
print()

3.8

convert 3

Hexidecimal = 0x3

### 5. 

Write a program to accept five names from the user and store it in a Tuple 'T1'

In [2]:
VList = []
for i in range(1,6):
    store = input('Enter name to store in a order :')
    VList.append(store)
tuplestore = tuple(VList)
print(tuplestore)

Enter name to store in a order :PYTHON
Enter name to store in a order :TUPLE
Enter name to store in a order :LIST
Enter name to store in a order :FLOAT
Enter name to store in a order :STRING
('PYTHON', 'TUPLE', 'LIST', 'FLOAT', 'STRING')

In [33]:
# OTHER WAY TO SOLVE 5th QUESTION BY USING WHILE LOOPS
T1 =()
i=0
while(i<5):   # as i gave 5 here it will ask names 5 times beacuse T1 is empty, i is less than 5 its false
    num=input("enter any name=")
    T1 = (T1+(num,))
    i=i+1
    print(T1)

string =('PYTHON', 'TUPLE', 'LIST', 'FLOAT', 'STRING')
string =str(string) # converted in to STRING
print("T1 =",string) # to get T1 = output i applied this.
print()

enter any name=PYTHON
('PYTHON',)
enter any name=TUPLE
('PYTHON', 'TUPLE')
enter any name=LIST
('PYTHON', 'TUPLE', 'LIST')
enter any name=FLOAT
('PYTHON', 'TUPLE', 'LIST', 'FLOAT')
enter any name=STRING
('PYTHON', 'TUPLE', 'LIST', 'FLOAT', 'STRING')
T1 = ('PYTHON', 'TUPLE', 'LIST', 'FLOAT', 'STRING')

In [1]:
# OTHER WAY TO SOLVE 5th QUESTION
A = input("Enter any name =")
B = A.split()
type(B)

print(B)

print()
aList =['PYTHON','TUPLE','LIST','FLOAT','STRING']

T1 = tuple(aList) # converting list in to tuple
print (T1)
# Please check other way i applied by using while loop below

Enter any name =PYTHON TUPLE LIST FLOAT STRING
['PYTHON', 'TUPLE', 'LIST', 'FLOAT', 'STRING']

('PYTHON', 'TUPLE', 'LIST', 'FLOAT', 'STRING')