In [28]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [29]:
# Define Server Connection Function
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

pw = "Vanithabm$7" # IMPORTANT! Put your MySQL Terminal password here.
db = "Vanitha" # This is the name of the database we will create in the next step - call it whatever you like.

In [30]:
connection = create_server_connection("localhost", "root", pw)

MySQL Database connection successful

In [31]:
# Create a New Database

def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as err:
        print(f"Error: '{err}'")

create_database_query = "CREATE DATABASE Vanitha"
create_database(connection, create_database_query)

Database created successfully

In [32]:
# Modify Server Connection Function, Create Database Connection Function

def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [33]:
# Define Query Execution Function - is to create a function which will allow us to execute queries written in SQL.

def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

In [34]:
# Create Teacher Table
# Assign our SQL command to a python variable using triple quotes to create a multi-line string

create_teacher_table= """
CREATE TABLE student_scores (
student_id INT PRIMARY KEY,
student_name VARCHAR(255) NOT NULL,
assignment_1 INT NOT NULL,
assignment_2 INT NOT NULL,
assignment_3 INT NOT NULL,
assignment_4 INT NOT NULL,
assignment_5 INT NOT NULL);
"""



connection = create_db_connection("localhost", "root", pw, db) # Connect to the Database
execute_query(connection, create_teacher_table) # Execute our defined query

MySQL Database connection successful
Query successful

In [35]:
# Populate Teacher Table

pop_teacher = """
INSERT INTO student_scores VALUES
(1, 'John Doe', 90, 80, 70, 85, 95),
(2, 'Jane Doe', 85, 90, 85, 90, 90),
(3, 'Michael Smith', 80, 75, 80, 85, 85),
(4, 'Mary Johnson', 75, 70, 75, 80, 80),
(5, 'David Williams', 70, 65, 70, 75, 75),
(6, 'Susan Brown', 65, 60, 65, 70, 70);
"""

connection = create_db_connection("localhost", "root", pw, db)
execute_query(connection, pop_teacher)
# Insert the employee related data of 6 employees to the employee table

MySQL Database connection successful
Query successful

In [39]:
# Define Data Reading Function
def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

In [47]:
# Read Data from Database
# Display teacher table
q1 = """
SELECT *
FROM student_scores;
"""

connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q1)
# print (results)
print ()
for result in results:
  print(result)

MySQL Database connection successful

(1, 'John Smith', 95, 85, 80, 90, 95)
(2, 'Jane Doe', 85, 90, 85, 90, 90)
(3, 'Michael Smith', 80, 75, 80, 85, 85)
(4, 'Mary Johnson', 75, 70, 75, 80, 80)
(5, 'David Williams', 70, 65, 70, 75, 75)
(6, 'Susan Brown', 65, 60, 65, 70, 70)

In [44]:
# Updating Client Address

# The School receives notification that the Big Business Federation has moved office, 
# and now they are located at 23 Fingiertweg, 14534 Berlin. We can change that in our database like so:

update = """
UPDATE student_scores SET
student_name = 'John Smith',
assignment_1 = 95,
assignment_2 = 85,
assignment_3 = 80,
assignment_4 = 90,
assignment_5 = 95
WHERE student_id = 1;
"""

connection = create_db_connection("localhost", "root", pw, db)
execute_query(connection, update)

MySQL Database connection successful
Query successful

In [45]:
# Deleting a Course
q1 = """
DELETE FROM student_scores WHERE student_id = 6;
"""

connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q1)

from_db = []

for result in results:
  print(result)

MySQL Database connection successful