# Iterative Statements
- Write solution of each question in the cell given below the corresponsing question.

#### 1. Tom and Bob are playing a game of dice. Each time a multiple of two comes up Tom gets a point and if a multiple of 3 comes up bob gets a point. If a multiple of both comes up then a point is deducted from both. Write a program to take a list as input consisting of 10 outcomes of the dice throw. Print the scores of both Tom and bob and the winner.

In [5]:
dice([1,2,3,4,5,6,7,8,9])
def dice(a):
  tom_score=0
  bob_score=0
  for i in range(1,11):
    if i%2 == 0 and i%3 == 0:
      tom_score=tom_score-1
      bob_score=bob_score-1
    elif i%2 == 0:
      tom_score=tom_score+1
    elif i%3 == 0:
      bob_score=bob_score+1
  print("tom_score: ",tom_score)      
  print("bob_score: ",bob_score)
  if (tom_score>bob_score):
    print("Tom is winner")
  else:
    print("Bob is winner")

tom_score:  3
bob_score:  1
Tom is winner

#### 2. Write a program to take a list of 10 numbers as input in single line and find out the largest element.

In [6]:
a=[11,22,33,44,55,66,77,88,99,12]
a.sort()
c=a[-1]
c

99

#### 3. Write a program to take a number as input and find out whether it is prime or not.

In [30]:
def num(i):
    if i>=1:
      for a in range(1, int(i/2) + 1):
        if i% a == 0:
          print(i,"not a prime number")
        break
      else:
        print(i,"is prime number")
    else:
      print(i,"not a prime number")

In [31]:
num(1)

1 is prime number

#### 4. Take a list and a number as input, print all consecutive pairs of two numbers from the list having sum equal to the given number.

In [11]:
def pairs_of_two_numbers(numbers, target_sum):
    for i in range(len(numbers) - 1):
        for j in range(i + 1, len(numbers)):
            if numbers[i] + numbers[j] == target_sum:
                print((numbers[i], numbers[j]))

In [12]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
target_sum = 7
pairs_of_two_numbers(numbers, target_sum)

(1, 6)
(2, 5)
(3, 4)

#### 5. Take a string as input and find out the number of words with even length and number of words with odd length.

In [15]:
string = 'string as input and find out the number of words with even length and number of words with odd length' 
b=string.split()
even_count = 0
odd_count = 0 
for word in b:  
  if(len(word)%2==0):
    even_count+=1

  else:
    odd_count+=1
print("Odd length: ",odd_count)
print("Even length: ",even_count)

Odd length:  8
Even length:  12

#### 7. Write a program to sort a given list using selection sort algorithm. (study selection sort and implement)

In [21]:
def study_selection(arr):
    n = len(arr)
    for i in range(n):
        min_index = i
        for j in range(i+1, n):
            if arr[j] < arr[min_index]:
                min_index = j
        arr[i], arr[min_index] = arr[min_index], arr[i]
    return arr

In [23]:
arr = [64, 25, 12, 22, 11]
sorted = study_selection(arr)
print("Sorted list:", sorted)

Sorted list: [11, 12, 22, 25, 64]

#### 8. Write a program to sort a given list using bubble sort algorithm. (Study bubble sort and implement)

In [24]:
def bubble_sort(arr):
    n = len(arr)
    for i in range(n-1):
        for j in range(0, n-i-1):
            if arr[j] > arr[j+1]:
                arr[j], arr[j+1] = arr[j+1], arr[j]
    return arr

In [25]:
arr = [64, 25, 12, 22, 11]
sorted = bubble_sort(arr)
print("Sorted list:", sorted)

Sorted list: [11, 12, 22, 25, 64]

#### 9. Take a string and a word and input. Find the frequenecy of occurrence of the word in the given string. (Without using any inbuilt function)

In [26]:
def count_word_frequency(string, word):
    count = 0
    word_length = len(word)
    for i in range(len(string) - word_length + 1):
        if string[i:i+word_length] == word:
            count += 1
    return count

In [27]:
string = "This is a sample string in which we want to count the frequency of the word 'sample'"
word = "sample"
frequency = count_word_frequency(string, word)
print("The word frequency '{}' in the string is: {}".format(word, frequency))

The word frequency 'sample' in the string is: 2

#### 10. Write a program (nested loops) to print the pyramid pattern.

In [26]:
for i in range(1,6):
    for j in range(6-i):
        print(" ", end="")
    for j in range(i):
        print("*", end=" ")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *

#### 11. Write a program (nested loops) to print the inverted pyramid.

In [25]:
h = 10
z = [1, 2, 5, 0, 7, 6, 7, 0, 5, 2]

for i in reversed(range(1, h+1)):
    s = ''
    m = (i % 10) - 1
    n = z[m]
    
    for j in range(i, (i-1)+(2*i)):
        s += str(n)
        n = n + 1 if n < 9 else 0   
    else:
        print(f'{s:^{(h-1)+(2*h)}}')

     2345678901234567890
      56789012345678901
       012345678901234
        7890123456789
         67890123456
          789012345
           0123456
            56789
             234
              1

#### 12. Write a program (nested loops) to print the diamond pattern.

In [ ]:
Row1: 4 spaces, 1 star, 4 spaces
Row2: 3 spaces, 3 stars, 3 spaces
Row3: 2 spaces, 5 stars, 2 spaces
Row4: 1 space, 7 stars, 1 space
Row5: 0 spaces, 9 stars, 0 spaces
Row6: 1 space, 7 stars, 1 space
Row7: 2 spaces, 5 stars, 2 spaces
Row8: 3 spaces, 3 stars, 3 spaces
Row9: 4 spaces, 1 star, 4 spaces

In [35]:
n = 9
print("Pattern 1")
for a1 in range(1, (n+1)//2 + 1): #from row 1 to 5
    for a2 in range((n+1)//2 - a1):
        print(" ", end = "")
    for a3 in range((a1*2)-1):
        print("*", end = "")
    print()

Pattern 1
    *
   ***
  *****
 *******
*********

In [32]:
for a1 in range((n+1)//2 + 1, n + 1): #from row 6 to 9
    for a2 in range(a1 - (n+1)//2):
        print(" ", end = "")
    for a3 in range((n+1 - a1)*2 - 1):
        print("*", end = "")
    print()

 *******
  *****
   ***
    *

In [3]:
h = eval(input("height of diamond : "))
for i in range (h):
    print(" "*(h-i),"*"*(2*i+1))
for i in range(h-2,-1):
    print(" "*(h-i),"*"*(2*i+1))

height of diamond : 8
         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************

#### 13. Write a program to print the following pattern:

In [ ]:
5 4 3 2 1
  4 3 2 1
    3 2 1
      2 1
        1
'''
print()

In [1]:
n = 5
for i in range(n, 0, -1):
    for j in range(n - i):
        print("  ", end="")
    for k in range(i, 0, -1):
        print(k, end=" ")
    print("")

5 4 3 2 1
  4 3 2 1
    3 2 1
      2 1
        1

#### 14. Write a program to print the following pattern:

In [ ]:
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1
'''
print()

In [2]:
for i in range(5, 0, -1):
    for j in range(i, 0, -1):
        print(j, end=" ")
    print("")

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1