#### Create the classes and functions as per following description: 
- Create a class Person : 
   - The attributes of the class are name, age, city
   - The functions of the class are :
       - __init__(self, name, age, city)
       - show_details(self)
       - update_city(self, new_city)
       
- Create a class Employee which inherits the class Person:
    - The attributes of the class are name , age, city, salary, position, dept
    - The functions of the class are : 
        - __init__(self, name , age, city, salary, position, dept)
        - show_details(self)
        - update_salary(self, new_salary)
        - update_dept(self, new_dept)
        - update_position(self, new_pos)
        - inc_salary(self)
        - dec_salary
        
- Make use of the super function when necessary
- Create objects and Demonstrate working of all the functions

In [18]:
class Person:

    def __init__(self, name, age, city):
        self.name = name
        self.age = age
        self.city = city
        
    def show_details(self):
        print("Hello, my name is ", self.name)
        print("My age is ",   self.age)
        print("I reside in ", self.city)

    def UpdateCity(self, new_city):
        self.city = new_city

In [19]:
a = Person("Vanitha", 22, "Bangalore")
a.name
a.show_details()

Hello, my name is  Vanitha
My age is  22
I reside in  Bangalore

In [16]:
import datetime
class Person:

    def __init__(self, name, surname, birthdate, address, telephone, email):
        self.name = name
        self.surname = surname
        self.birthdate = birthdate

        self.address = address
        self.telephone = telephone
        self.email = email

    def age(self):
        today = datetime.date.today()
        age = today.year - self.birthdate.year

        if today < datetime.date(today.year, self.birthdate.month, self.birthdate.day):
            age -= 1

        return age

person = Person(
    "Vanitha",
    "BM",
    datetime.date(2000, 7, 23), # year, month, day
    "No. 12 Short Street, Greenville",
    "555 456 0987",
    "Vanitha@gmail.com"
)

print(person.name)
print(person.email)
print(person.age())

Vanitha
Vanitha@gmail.com
22

In [13]:
class Employee:
    __id=0
    __name=""
    __gender=""
    __city=""
    __salary=0
# function to set data 
    def setData(self,id,name,gender,city,salary):
        self.__id=id
        self.__name = name
        self.__gender = gender
        self.__city = city
        self.__salary = salary
    def showData(self):
        print("Id\t\t:",self.__id)
        print("Name\t:", self.__name)
        print("Gender\t:", self.__gender)
        print("City\t:", self.__city)
        print("Salary\t:", self.__salary)

def main():
    #Employee Object
    emp=Employee()
    emp.setData(1,'Ram','male','Bangalore',70000)
    emp.showData()

if __name__=="__main__":
    main()

Id		: 1
Name	: Ram
Gender	: male
City	: Bangalore
Salary	: 70000

In [12]:
class Employee:
    id=0
    name=""
    gender=""
    city=""
    salary=0
    

    def setData(self):
        self.__id=int(input("Enter Id\t:"))
        self.__name = input("Enter Name\t:")
        self.__gender = input("Enter Gender:")
        self.__city = input("Enter City\t:")
        self.__salary = int(input("Enter Salary:"))
    def showData(self):
        print("Id\t\t:",self.__id)
        print("Name\t:", self.__name)
        print("Gender\t:", self.__gender)
        print("City\t:", self.__city)
        print("Salary\t:", self.__salary)


def main():
    #Employee Object
    emp=Employee()
    emp.setData()
    emp.showData()

if __name__=="__main__":
    main()

Enter Id	:1
Enter Name	:Ram
Enter Gender:Male
Enter City	:Bangalore
Enter Salary:1000
Id		: 1
Name	: Ram
Gender	: Male
City	: Bangalore
Salary	: 1000