In [52]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [53]:
# Define Server Connection Function
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

pw = "Vanithabm$7" # IMPORTANT! Put your MySQL Terminal password here.
db = "VanDBN" # This is the name of the database we will create in the next step - call it whatever you like.

In [54]:
connection = create_server_connection("localhost", "root", pw)

MySQL Database connection successful

In [55]:
# Create a New Database

def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as err:
        print(f"Error: '{err}'")

create_database_query = "CREATE DATABASE VanDBN"
create_database(connection, create_database_query)

Database created successfully

In [56]:
# Modify Server Connection Function, Create Database Connection Function

def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [57]:
# Define Query Execution Function - is to create a function which will allow us to execute queries written in SQL.

def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

In [58]:
# Create Teacher Table
# Assign our SQL command to a python variable using triple quotes to create a multi-line string

create_teacher_table= """
CREATE TABLE department (dname varchar(30), dnumber int, mgr_ssn int, primary key(dnumber), index(dnumber));
"""

connection = create_db_connection("localhost", "root", pw, db) # Connect to the Database
execute_query(connection, create_teacher_table) # Execute our defined query

MySQL Database connection successful
Query successful

In [59]:
# Create Teacher Table
# Assign our SQL command to a python variable using triple quotes to create a multi-line string

create_teacher_table= """
CREATE TABLE employee (fname varchar(50) NOT NULL, LNAME varchar(50) not null, SSN int, bdate date, Address varchar(50), gender varchar(10), salary int, super_ssn int, dno int, primary key(ssn),index(SSN), foreign key (dno)references department(dnumber));
"""

connection = create_db_connection("localhost", "root", pw, db) # Connect to the Database
execute_query(connection, create_teacher_table) # Execute our defined query

MySQL Database connection successful
Query successful

In [60]:
# Create Teacher Table
# Assign our SQL command to a python variable using triple quotes to create a multi-line string

create_teacher_table= """
CREATE TABLE dept_location (dnumber int, location varchar(30), index(dnumber), foreign key(dnumber) references department(dnumber));
"""

connection = create_db_connection("localhost", "root", pw, db) # Connect to the Database
execute_query(connection, create_teacher_table) # Execute our defined query

MySQL Database connection successful
Query successful

In [61]:
# Create Teacher Table
# Assign our SQL command to a python variable using triple quotes to create a multi-line string

create_teacher_table= """
Create table project(pname varchar(30), pnumber int, plocation varchar(30), dnum int, index(dnum), primary key(pnumber),foreign key(dnum) references department(dnumber));
"""

connection = create_db_connection("localhost", "root", pw, db) # Connect to the Database
execute_query(connection, create_teacher_table) # Execute our defined query

MySQL Database connection successful
Query successful

In [62]:
# Create Teacher Table
# Assign our SQL command to a python variable using triple quotes to create a multi-line string

create_teacher_table= """
Create table works_on(essn int, pno int, hours int, index(essn), index(pno), foreign key(essn) references employee(ssn), foreign key(pno) references project(pnumber));
"""

connection = create_db_connection("localhost", "root", pw, db) # Connect to the Database
execute_query(connection, create_teacher_table) # Execute our defined query

MySQL Database connection successful
Query successful

In [63]:
# Create Teacher Table
# Assign our SQL command to a python variable using triple quotes to create a multi-line string

create_teacher_table= """
Create table dependent(essn int, dependent_name varchar(50), gender varchar(10), bdate date, relationship varchar(20), primary key(essn,dependent_name),index(essn), foreign key(essn) references employee(ssn)); 
"""

connection = create_db_connection("localhost", "root", pw, db) # Connect to the Database
execute_query(connection, create_teacher_table) # Execute our defined query

MySQL Database connection successful
Query successful

# Populate Tables

In [64]:
# Populate Teacher Table

pop_teacher = """
insert into department values('Research',5,333445555),
('Administration',4,987654321),
('Headquarters',1,888665555);
"""

connection = create_db_connection("localhost", "root", pw, db)
execute_query(connection, pop_teacher)
# Insert the employee related data of 6 employees to the employee table

MySQL Database connection successful
Query successful

In [65]:
# Populate Remaining Tables

pop_client = """
insert into employee values('John','Smith',123456789,'1965-01-09','731, Houston','M', 30000,333445555, 5),
('Franklin','Wong',333445555,'1955-12-08','638, Houston','M', 40000,888665555, 5),
('Alicia','Zelaya',999887777,'1968-01-19','3321, spring','F',25000,987654321, 4),
('Jennifer','Wallace',987654321,'1941-06-20','251, Bellaaire','F', 43000,888665555, 4),
('Ramesh','Narayan',666884444,'1962-09-15','975, Humble','M', 38000,333445555, 5),
('Joyce','English',453453453,'1972-07-31','5631, Houston','F', 25000,333445555, 5),
('Ahmad','Jabbar',987987987,'1969-03-29','980, Houston','M', 25000,987654321, 4),
('James','Borg',888665555,'1937-11-10','450, Houston','M', 55000,null, 1);
"""

pop_location = """
insert into dept_location values(1, 'Houston'),
(4, 'Stafford'),
(5, 'Bellaire'),
(5, 'Sugarland'),
(5, 'Houston');
"""

pop_course = """
insert into project values('ProductX',1,'Bellaire', 5),
('ProductY',2,'Sugarland', 5),
('ProductZ',3,'Houston', 5),
('Computerisation',10,'Stafford', 4),
('Reorganisation',20,'Houston', 1),
('Newbenefits',30,'Stafford', 4);
"""

pop_takescourse = """
insert into works_on values(123456789,1,33),
(123456789,2, 75),
(666884444,3,40),
(453453453,1,20),
(453453453,2,20),
(333445555,2,10),
(333445555,3,10),
(333445555,10,10),
(333445555,20,10),
(999887777,30,30),
(999887777,10,10),
(987987987,10,35),
(987987987,30,5),
(987654321,30,20),
(987654321,20,15);
"""

pop_dependent = """
insert into dependent values(333445555,'Alice','F','1986-04-05','Daughter'),
(333445555,'Theodore','M','1983-10-25','Son'),
(333445555,'Joy','F','1958-06-03','Spouse'),
(987654321,'Abner','M','1942-02-28','Spouse'),
(123456789,'Alice','F','1988-12-30','Daughter'),
(123456789,'Michael','M','1986-01-04','Son'),
(123456789,'Elizabeth','F','1967-05-05','Spouse');
"""

connection = create_db_connection("localhost", "root", pw, db)
execute_query(connection, pop_client)
execute_query(connection, pop_location)
execute_query(connection, pop_course)
execute_query(connection, pop_takescourse)
execute_query(connection, pop_dependent)

MySQL Database connection successful
Query successful
Query successful
Query successful
Query successful
Query successful

In [75]:
# Create Teacher Table
# Assign our SQL command to a python variable using triple quotes to create a multi-line string

create_teacher_table= """
Create table depart(deptid varchar(50),
deptname varchar(50)NOT NULL);
"""

connection = create_db_connection("localhost", "root", pw, db) # Connect to the Database
execute_query(connection, create_teacher_table) # Execute our defined query

MySQL Database connection successful
Query successful

In [79]:
# Updating Client Address

# The School receives notification that the Big Business Federation has moved office, 
# and now they are located at 23 Fingiertweg, 14534 Berlin. We can change that in our database like so:

update = """
CREATE TABLE EMPLOYEE_scores (
EMPLOYEE_id INT PRIMARY KEY,
student_name VARCHAR(255) NOT NULL,
emp_1 INT NOT NULL,
emp_2 INT NOT NULL,
emp_3 INT NOT NULL,
emp_4 INT NOT NULL,
emp_5 INT NOT NULL);
"""

connection = create_db_connection("localhost", "root", pw, db)
execute_query(connection, update)

MySQL Database connection successful
Query successful

In [80]:
# Deleting a Course
q1 = """
DELETE FROM EMPLOYEE_scores WHERE EMPLOYEE_id = 5;
"""

connection = create_db_connection("localhost", "root", pw, db)
results = read_query(connection, q1)

from_db = []

for result in results:
  print(result)

MySQL Database connection successful