In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import re
import string

In [3]:
credit_card_data = pd.read_csv("C:/Users/Admin/Downloads/fraudTest.csv")

In [4]:
credit_card_data.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,6/21/2020 12:14,2.291160e+15,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,3/19/1968,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,6/21/2020 12:14,3.573030e+15,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1/17/1990,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,6/21/2020 12:14,3.598220e+15,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",10/21/1970,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,6/21/2020 12:15,3.591920e+15,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,7/25/1987,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,6/21/2020 12:15,3.526830e+15,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,7/6/1955,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

In [5]:
credit_card_data.tail()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
555714,555714,12/31/2020 23:59,3.056060e+13,fraud_Reilly and Sons,health_fitness,43.77,Michael,Olson,M,558 Michael Estates,...,40.4931,-91.8912,519,Town planner,2/13/1966,9b1f753c79894c9f4b71f04581835ada,1388534347,39.946837,-91.333331,0
555715,555715,12/31/2020 23:59,3.556610e+15,fraud_Hoppe-Parisian,kids_pets,111.84,Jose,Vasquez,M,572 Davis Mountains,...,29.0393,-95.4401,28739,Futures trader,12/27/1999,2090647dac2c89a1d86c514c427f5b91,1388534349,29.661049,-96.186633,0
555716,555716,12/31/2020 23:59,6.011720e+15,fraud_Rau-Robel,kids_pets,86.88,Ann,Lawson,F,144 Evans Islands Apt. 683,...,46.1966,-118.9017,3684,Musician,11/29/1981,6c5b7c8add471975aa0fec023b2e8408,1388534355,46.658340,-119.715054,0
555717,555717,12/31/2020 23:59,4.079770e+12,fraud_Breitenberg LLC,travel,7.99,Eric,Preston,M,7020 Doyle Stream Apt. 951,...,44.6255,-116.4493,129,Cartographer,12/15/1965,14392d723bb7737606b2700ac791b7aa,1388534364,44.470525,-117.080888,0
555718,555718,12/31/2020 23:59,4.170690e+15,fraud_Dare-Marvin,entertainment,38.13,Samuel,Frey,M,830 Myers Plaza Apt. 384,...,35.6665,-97.4798,116001,Media buyer,5/10/1993,1765bb45b3aa3224b4cdcb6e7a96cee3,1388534374,36.210097,-97.036372,0

In [6]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555719 entries, 0 to 555718
Data columns (total 23 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             555719 non-null  int64
 1   trans_date_trans_time  555719 non-null  object
 2   cc_num                 555719 non-null  float64
 3   merchant               555719 non-null  object
 4   category               555719 non-null  object
 5   amt                    555719 non-null  float64
 6   first                  555719 non-null  object
 7   last                   555719 non-null  object
 8   gender                 555719 non-null  object
 9   street                 555719 non-null  object
 10  city                   555719 non-null  object
 11  state                  555719 non-null  object
 12  zip                    555719 non-null  int64
 13  lat                    555719 non-null  float64
 14  long                   555719 non-null  float64
 15  city_pop               555719 non-null  int64
 16  job                    555719 non-null  object
 17  dob                    555719 non-null  object
 18  trans_num              555719 non-null  object
 19  unix_time              555719 non-null  int64
 20  merch_lat              555719 non-null  float64
 21  merch_long             555719 non-null  float64
 22  is_fraud               555719 non-null  int64
dtypes: float64(6), int64(5), object(12)
memory usage: 97.5+ MB

In [7]:
credit_card_data.isnull().sum()

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [8]:
credit_card_data['is_fraud'].value_counts()

0    553574
1      2145
Name: is_fraud, dtype: int64

In [9]:
legit = credit_card_data[credit_card_data.is_fraud == 0]
fraud = credit_card_data[credit_card_data.is_fraud == 1]

In [10]:
print(legit.shape)
print(fraud.shape)

(553574, 23)
(2145, 23)

In [11]:
credit_card_data.groupby('is_fraud').mean()

C:\Users\Admin\AppData\Local\Temp\ipykernel_6880\4234907149.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  credit_card_data.groupby('is_fraud').mean()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long
is_fraud,,,,,,,,,,
0,277997.725990,4.179643e+17,67.614408,48846.424285,38.541406,-90.230495,88313.692365,1.380683e+09,38.540954,-90.230474
1,242057.088112,3.854275e+17,528.356494,47862.900233,39.019971,-90.445556,64529.321678,1.379587e+09,39.018618,-90.465222

In [12]:
legit_sample = legit.sample(n=6006)

In [13]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [14]:
new_dataset.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
38357,38357,7/4/2020 22:14,2.720010e+15,fraud_Monahan-Morar,personal_care,75.08,Joseph,Murray,M,42933 Ryan Underpass,...,43.3526,-102.5411,1126,Volunteer coordinator,8/18/1980,c35265f114482889ae900229f39f2ea1,1372976063,43.510111,-102.798577,0
116380,116380,8/1/2020 6:23,2.131560e+14,fraud_Klocko LLC,misc_net,99.15,James,Yoder,M,83359 Lopez Point,...,40.5503,-79.3237,168,Race relations officer,10/4/1978,4d633ab23c2f422f0de901b528dd4700,1375338224,41.110415,-79.001285,0
149822,149822,8/12/2020 4:53,3.533740e+15,"fraud_Stroman, Hudson and Erdman",gas_transport,42.40,Robert,Haynes,M,857 Aaron Circles Suite 398,...,32.8357,-79.8217,20478,Materials engineer,6/4/1997,68f552792c8ac140d640ba832f6c5b2c,1376283231,32.708573,-80.386258,0
437905,437905,12/6/2020 10:11,4.482430e+15,fraud_Hackett-Lueilwitz,grocery_pos,135.09,Leslie,Ford,F,4938 Hatfield Course,...,38.8265,-82.1364,642,Building services engineer,8/30/1946,8003589b69118a92fe6f77b5d497948c,1386324711,39.565131,-83.037967,0
125352,125352,8/3/2020 22:11,4.727240e+15,fraud_Homenick LLC,personal_care,3.22,Mary,Lewis,F,118 Justin Extension,...,30.8635,-87.7644,19090,Science writer,5/30/1929,fffb406d51416c6c14394713720f313b,1375567880,30.948836,-87.190930,0

In [15]:
new_dataset.tail()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
517197,517197,12/22/2020 22:05,2.242180e+15,"fraud_Willms, Kris and Bergnaum",shopping_pos,1041.51,Travis,Daniel,M,1327 Rose Causeway Apt. 610,...,34.6323,-89.8855,14462,Database administrator,3/3/1959,35b0297dd026d2e9a75d024a5dec7955,1387749948,34.573471,-89.911011,1
517274,517274,12/22/2020 22:18,2.242180e+15,fraud_Kuhn LLC,shopping_pos,868.09,Travis,Daniel,M,1327 Rose Causeway Apt. 610,...,34.6323,-89.8855,14462,Database administrator,3/3/1959,da7f67d7375f10a054a3d919448c45dd,1387750687,34.091227,-90.390612,1
517341,517341,12/22/2020 22:31,2.242180e+15,"fraud_Mosciski, Ziemann and Farrell",shopping_net,1039.42,Travis,Daniel,M,1327 Rose Causeway Apt. 610,...,34.6323,-89.8855,14462,Database administrator,3/3/1959,25b076c7bcd70f272c1c5326bb234f4b,1387751508,34.628434,-90.284780,1
517529,517529,12/22/2020 23:06,2.242180e+15,fraud_Bauch-Raynor,grocery_pos,289.27,Travis,Daniel,M,1327 Rose Causeway Apt. 610,...,34.6323,-89.8855,14462,Database administrator,3/3/1959,2df7d894868fbc99ec1d8b055585fc9d,1387753563,34.746063,-90.401093,1
517571,517571,12/22/2020 23:13,2.242180e+15,fraud_Jaskolski-Vandervort,misc_net,766.38,Travis,Daniel,M,1327 Rose Causeway Apt. 610,...,34.6323,-89.8855,14462,Database administrator,3/3/1959,44292cbc51e37dc018ee6a988a4bc426,1387754019,33.771462,-90.651342,1

In [16]:
new_dataset['is_fraud'].value_counts()

0    6006
1    2145
Name: is_fraud, dtype: int64

In [17]:
new_dataset.groupby('is_fraud').mean()

C:\Users\Admin\AppData\Local\Temp\ipykernel_6880\3914756909.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  new_dataset.groupby('is_fraud').mean()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long
is_fraud,,,,,,,,,,
0,276436.416583,4.365488e+17,65.598979,48234.151016,38.592323,-89.940674,91568.175658,1.380634e+09,38.591960,-89.934059
1,242057.088112,3.854275e+17,528.356494,47862.900233,39.019971,-90.445556,64529.321678,1.379587e+09,39.018618,-90.465222

In [18]:
X = new_dataset.drop(columns='is_fraud', axis=1)
Y = new_dataset['is_fraud']

In [19]:
print(X)

        Unnamed: 0 trans_date_trans_time        cc_num  \
38357        38357        7/4/2020 22:14  2.720010e+15
116380      116380         8/1/2020 6:23  2.131560e+14
149822      149822        8/12/2020 4:53  3.533740e+15
437905      437905       12/6/2020 10:11  4.482430e+15
125352      125352        8/3/2020 22:11  4.727240e+15
...            ...                   ...           ...
517197      517197      12/22/2020 22:05  2.242180e+15
517274      517274      12/22/2020 22:18  2.242180e+15
517341      517341      12/22/2020 22:31  2.242180e+15
517529      517529      12/22/2020 23:06  2.242180e+15
517571      517571      12/22/2020 23:13  2.242180e+15

                                   merchant       category      amt   first  \
38357                   fraud_Monahan-Morar  personal_care    75.08  Joseph
116380                     fraud_Klocko LLC       misc_net    99.15   James
149822     fraud_Stroman, Hudson and Erdman  gas_transport    42.40  Robert
437905              fraud_Hackett-Lueilwitz    grocery_pos   135.09  Leslie
125352                   fraud_Homenick LLC  personal_care     3.22    Mary
...                                     ...            ...      ...     ...
517197      fraud_Willms, Kris and Bergnaum   shopping_pos  1041.51  Travis
517274                       fraud_Kuhn LLC   shopping_pos   868.09  Travis
517341  fraud_Mosciski, Ziemann and Farrell   shopping_net  1039.42  Travis
517529                   fraud_Bauch-Raynor    grocery_pos   289.27  Travis
517571           fraud_Jaskolski-Vandervort       misc_net   766.38  Travis

          last gender                       street  ...    zip      lat  \
38357   Murray      M         42933 Ryan Underpass  ...  57756  43.3526
116380   Yoder      M            83359 Lopez Point  ...  15727  40.5503
149822  Haynes      M  857 Aaron Circles Suite 398  ...  29455  32.8357
437905    Ford      F         4938 Hatfield Course  ...  25106  38.8265
125352   Lewis      F         118 Justin Extension  ...  36507  30.8635
...        ...    ...                          ...  ...    ...      ...
517197  Daniel      M  1327 Rose Causeway Apt. 610  ...  38668  34.6323
517274  Daniel      M  1327 Rose Causeway Apt. 610  ...  38668  34.6323
517341  Daniel      M  1327 Rose Causeway Apt. 610  ...  38668  34.6323
517529  Daniel      M  1327 Rose Causeway Apt. 610  ...  38668  34.6323
517571  Daniel      M  1327 Rose Causeway Apt. 610  ...  38668  34.6323

            long  city_pop                         job        dob  \
38357  -102.5411      1126       Volunteer coordinator  8/18/1980
116380  -79.3237       168      Race relations officer  10/4/1978
149822  -79.8217     20478          Materials engineer   6/4/1997
437905  -82.1364       642  Building services engineer  8/30/1946
125352  -87.7644     19090              Science writer  5/30/1929
...          ...       ...                         ...        ...
517197  -89.8855     14462      Database administrator   3/3/1959
517274  -89.8855     14462      Database administrator   3/3/1959
517341  -89.8855     14462      Database administrator   3/3/1959
517529  -89.8855     14462      Database administrator   3/3/1959
517571  -89.8855     14462      Database administrator   3/3/1959

                               trans_num   unix_time  merch_lat  merch_long
38357   c35265f114482889ae900229f39f2ea1  1372976063  43.510111 -102.798577
116380  4d633ab23c2f422f0de901b528dd4700  1375338224  41.110415  -79.001285
149822  68f552792c8ac140d640ba832f6c5b2c  1376283231  32.708573  -80.386258
437905  8003589b69118a92fe6f77b5d497948c  1386324711  39.565131  -83.037967
125352  fffb406d51416c6c14394713720f313b  1375567880  30.948836  -87.190930
...                                  ...         ...        ...         ...
517197  35b0297dd026d2e9a75d024a5dec7955  1387749948  34.573471  -89.911011
517274  da7f67d7375f10a054a3d919448c45dd  1387750687  34.091227  -90.390612
517341  25b076c7bcd70f272c1c5326bb234f4b  1387751508  34.628434  -90.284780
517529  2df7d894868fbc99ec1d8b055585fc9d  1387753563  34.746063  -90.401093
517571  44292cbc51e37dc018ee6a988a4bc426  1387754019  33.771462  -90.651342

[8151 rows x 22 columns]

In [20]:
print(Y)

38357     0
116380    0
149822    0
437905    0
125352    0
         ..
517197    1
517274    1
517341    1
517529    1
517571    1
Name: is_fraud, Length: 8151, dtype: int64

In [21]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [22]:
print(X.shape, X_train.shape, X_test.shape)

(8151, 22) (6520, 22) (1631, 22)

In [23]:
model = LogisticRegression()

In [24]:
X_test = X_test.select_dtypes(include=[float, int])

In [25]:
X_test = X_test.select_dtypes(include=[float, int])

In [26]:
X_train = X_train.select_dtypes(include=[float, int])

In [27]:
model.fit(X_train, Y_train)

C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=2):
ABNORMAL_TERMINATION_IN_LNSRCH.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [28]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [29]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.7368098159509202

In [30]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [31]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.7369711833231146