In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import re
import string

In [3]:
credit_card_data = pd.read_csv("C:/Users/Admin/Downloads/fraudTrain.csv")

In [4]:
credit_card_data.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,1/1/2019 0:00,2.703190e+15,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",3/9/1988,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,1/1/2019 0:00,6.304230e+11,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,6/21/1978,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,1/1/2019 0:00,3.885950e+13,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1/19/1962,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,1/1/2019 0:01,3.534090e+15,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1/12/1967,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,1/1/2019 0:03,3.755340e+14,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,3/28/1986,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

In [5]:
credit_card_data.tail()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
1048570,1048570,3/10/2020 16:07,6.011980e+15,fraud_Fadel Inc,health_fitness,77.00,Haley,Wagner,F,05561 Farrell Crescent,...,39.0305,-76.5515,92106,"Accountant, chartered certified",5/28/1943,45ecd198c65e81e597db22e8d2ef7361,1362931649,38.779464,-76.317042,0
1048571,1048571,3/10/2020 16:07,4.839040e+15,"fraud_Cremin, Hamill and Reichel",misc_pos,116.94,Meredith,Campbell,F,043 Hanson Turnpike,...,41.1826,-92.3097,1583,Geochemist,6/28/1999,c00ce51c6ebb7657474a77b9e0b51f34,1362931670,41.400318,-92.726724,0
1048572,1048572,3/10/2020 16:08,5.718440e+11,"fraud_O'Connell, Botsford and Hand",home,21.27,Susan,Mills,F,005 Cody Estates,...,38.2507,-85.7476,736284,Engineering geologist,4/2/1952,17c9dc8b2a6449ca2473726346e58e6c,1362931711,37.293339,-84.798122,0
1048573,1048573,3/10/2020 16:08,4.646850e+18,fraud_Thompson-Gleason,health_fitness,9.52,Julia,Bell,F,576 House Crossroad,...,40.7320,-73.1000,4056,Film/video editor,6/25/1990,5ca650881b48a6a38754f841c23b77ab,1362931718,39.773077,-72.213209,0
1048574,1048574,3/10/2020 16:08,2.283740e+15,fraud_Buckridge PLC,misc_pos,6.81,Shannon,Williams,F,9345 Spencer Junctions Suite 183,...,34.0770,-84.3033,165556,Prison officer,12/27/1997,8d0a575fe635bbde12f1a2bffc126731,1362931730,33.601468,-83.891921,0

In [6]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 23 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1048575 non-null  int64
 1   trans_date_trans_time  1048575 non-null  object
 2   cc_num                 1048575 non-null  float64
 3   merchant               1048575 non-null  object
 4   category               1048575 non-null  object
 5   amt                    1048575 non-null  float64
 6   first                  1048575 non-null  object
 7   last                   1048575 non-null  object
 8   gender                 1048575 non-null  object
 9   street                 1048575 non-null  object
 10  city                   1048575 non-null  object
 11  state                  1048575 non-null  object
 12  zip                    1048575 non-null  int64
 13  lat                    1048575 non-null  float64
 14  long                   1048575 non-null  float64
 15  city_pop               1048575 non-null  int64
 16  job                    1048575 non-null  object
 17  dob                    1048575 non-null  object
 18  trans_num              1048575 non-null  object
 19  unix_time              1048575 non-null  int64
 20  merch_lat              1048575 non-null  float64
 21  merch_long             1048575 non-null  float64
 22  is_fraud               1048575 non-null  int64
dtypes: float64(6), int64(5), object(12)
memory usage: 184.0+ MB

In [7]:
credit_card_data.isnull().sum()

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [8]:
credit_card_data['is_fraud'].value_counts()

0    1042569
1       6006
Name: is_fraud, dtype: int64

In [9]:
legit = credit_card_data[credit_card_data.is_fraud == 0]
fraud = credit_card_data[credit_card_data.is_fraud == 1]

In [10]:
print(legit.shape)
print(fraud.shape)

(1042569, 23)
(6006, 23)

In [11]:
credit_card_data.groupby('is_fraud').mean()

C:\Users\Admin\AppData\Local\Temp\ipykernel_6700\4234907149.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  credit_card_data.groupby('is_fraud').mean()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long
is_fraud,,,,,,,,,,
0,524494.707643,4.173851e+17,67.627445,48805.355338,38.532842,-90.228376,89015.900200,1.344913e+09,38.532993,-90.228625
1,488231.463869,3.774781e+17,530.573492,48148.078422,38.623988,-89.858250,96323.951715,1.343602e+09,38.615091,-89.853555

In [12]:
legit_sample = legit.sample(n=6006)

In [13]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [14]:
new_dataset.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
1003072,1003072,2/16/2020 2:48,4.740710e+15,fraud_Wisozk and Sons,misc_pos,72.78,Heather,Hines,F,13776 Hicks Plains,...,41.1901,-74.0436,9993,Pensions consultant,10/16/1962,f565a4d33f798d6de74f8f3b468458b8,1360982930,40.834416,-74.703442,0
698446,698446,10/25/2019 15:43,3.027300e+13,fraud_Frami Group,entertainment,136.96,Andrew,Patterson,M,06959 Stephen Branch Suite 246,...,35.5762,-91.4539,111,Careers information officer,6/13/2000,addb07076cc83a84c137cfdbf9835974,1351179837,36.508316,-90.709523,0
39085,39085,1/23/2019 17:10,3.879740e+13,fraud_Bogisich-Weimann,kids_pets,52.09,Andrew,Tucker,M,583 Gray Creek,...,42.4069,-74.1528,277,Glass blower/designer,12/12/1971,05c655dffb5131c4ca38caa6785be1e7,1327338625,42.988339,-74.423774,0
532525,532525,8/17/2019 12:47,4.467460e+18,fraud_Ruecker-Mayert,kids_pets,98.20,Rita,Myers,F,75703 Hernandez Corner Suite 348,...,28.0600,-82.4079,717255,Waste management officer,9/16/1966,7c46aaeb694f660c01cbb24afd920354,1345207624,27.152241,-82.999582,0
604147,604147,9/14/2019 4:46,5.018030e+11,fraud_Huels-Hahn,gas_transport,67.06,Robert,Flores,M,3277 Fields Meadows Apt. 790,...,41.5403,-122.9366,308,Call centre manager,9/20/1958,e9e83e2c650304d76b054a82e697cb16,1347598003,42.504166,-123.037167,0

In [15]:
new_dataset.tail()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
1047089,1047089,3/10/2020 3:59,3.589290e+15,fraud_Kris-Weimann,misc_net,690.49,Paula,Estrada,F,350 Stacy Glens,...,43.7557,-97.5936,343,"Development worker, international aid",3/5/1972,fb1ddd251bbec9b84c9755e856d51723,1362887989,43.254214,-98.267759,1
1047157,1047157,3/10/2020 4:31,3.546670e+15,"fraud_Casper, Hand and Zulauf",grocery_pos,324.74,Jordan,May,M,1626 Susan Course,...,32.7004,-97.6039,13602,Optometrist,7/5/1984,4dca0549e43b7e265cae7fd8a7e563b4,1362889904,33.607221,-97.996506,1
1047208,1047208,3/10/2020 4:59,3.589290e+15,fraud_Kiehn Inc,grocery_pos,331.33,Paula,Estrada,F,350 Stacy Glens,...,43.7557,-97.5936,343,"Development worker, international aid",3/5/1972,d18c55035998e461aa9040e254b74925,1362891561,44.228731,-98.330520,1
1047521,1047521,3/10/2020 8:22,3.589290e+15,fraud_Rau and Sons,grocery_pos,356.20,Paula,Estrada,F,350 Stacy Glens,...,43.7557,-97.5936,343,"Development worker, international aid",3/5/1972,bdaeb5e3413a408d7e6c3720a35337d5,1362903771,43.988931,-97.989985,1
1047918,1047918,3/10/2020 12:09,3.589290e+15,fraud_O'Connell-Ullrich,home,249.56,Paula,Estrada,F,350 Stacy Glens,...,43.7557,-97.5936,343,"Development worker, international aid",3/5/1972,8f0bac74e340483b44babb0d6d07b85b,1362917373,42.868322,-98.537668,1

In [16]:
new_dataset['is_fraud'].value_counts()

0    6006
1    6006
Name: is_fraud, dtype: int64

In [17]:
new_dataset.groupby('is_fraud').mean()

C:\Users\Admin\AppData\Local\Temp\ipykernel_6700\3914756909.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  new_dataset.groupby('is_fraud').mean()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long
is_fraud,,,,,,,,,,
0,518319.783050,4.129410e+17,67.031294,48717.974359,38.499527,-90.067324,86116.300033,1.344713e+09,38.506077,-90.063063
1,488231.463869,3.774781e+17,530.573492,48148.078422,38.623988,-89.858250,96323.951715,1.343602e+09,38.615091,-89.853555

In [18]:
X = new_dataset.drop(columns='is_fraud', axis=1)
Y = new_dataset['is_fraud']

In [19]:
print(X)

         Unnamed: 0 trans_date_trans_time        cc_num  \
1003072     1003072        2/16/2020 2:48  4.740710e+15
698446       698446      10/25/2019 15:43  3.027300e+13
39085         39085       1/23/2019 17:10  3.879740e+13
532525       532525       8/17/2019 12:47  4.467460e+18
604147       604147        9/14/2019 4:46  5.018030e+11
...             ...                   ...           ...
1047089     1047089        3/10/2020 3:59  3.589290e+15
1047157     1047157        3/10/2020 4:31  3.546670e+15
1047208     1047208        3/10/2020 4:59  3.589290e+15
1047521     1047521        3/10/2020 8:22  3.589290e+15
1047918     1047918       3/10/2020 12:09  3.589290e+15

                              merchant       category     amt    first  \
1003072          fraud_Wisozk and Sons       misc_pos   72.78  Heather
698446               fraud_Frami Group  entertainment  136.96   Andrew
39085           fraud_Bogisich-Weimann      kids_pets   52.09   Andrew
532525            fraud_Ruecker-Mayert      kids_pets   98.20     Rita
604147                fraud_Huels-Hahn  gas_transport   67.06   Robert
...                                ...            ...     ...      ...
1047089             fraud_Kris-Weimann       misc_net  690.49    Paula
1047157  fraud_Casper, Hand and Zulauf    grocery_pos  324.74   Jordan
1047208                fraud_Kiehn Inc    grocery_pos  331.33    Paula
1047521             fraud_Rau and Sons    grocery_pos  356.20    Paula
1047918        fraud_O'Connell-Ullrich           home  249.56    Paula

              last gender                            street  ...    zip  \
1003072      Hines      F                13776 Hicks Plains  ...  10970
698446   Patterson      M    06959 Stephen Branch Suite 246  ...  72165
39085       Tucker      M                    583 Gray Creek  ...  12460
532525       Myers      F  75703 Hernandez Corner Suite 348  ...  33620
604147      Flores      M      3277 Fields Meadows Apt. 790  ...  96037
...            ...    ...                               ...  ...    ...
1047089    Estrada      F                   350 Stacy Glens  ...  57374
1047157        May      M                 1626 Susan Course  ...  76008
1047208    Estrada      F                   350 Stacy Glens  ...  57374
1047521    Estrada      F                   350 Stacy Glens  ...  57374
1047918    Estrada      F                   350 Stacy Glens  ...  57374

             lat      long  city_pop                                    job  \
1003072  41.1901  -74.0436      9993                    Pensions consultant
698446   35.5762  -91.4539       111            Careers information officer
39085    42.4069  -74.1528       277                  Glass blower/designer
532525   28.0600  -82.4079    717255               Waste management officer
604147   41.5403 -122.9366       308                    Call centre manager
...          ...       ...       ...                                    ...
1047089  43.7557  -97.5936       343  Development worker, international aid
1047157  32.7004  -97.6039     13602                            Optometrist
1047208  43.7557  -97.5936       343  Development worker, international aid
1047521  43.7557  -97.5936       343  Development worker, international aid
1047918  43.7557  -97.5936       343  Development worker, international aid

                dob                         trans_num   unix_time  merch_lat  \
1003072  10/16/1962  f565a4d33f798d6de74f8f3b468458b8  1360982930  40.834416
698446    6/13/2000  addb07076cc83a84c137cfdbf9835974  1351179837  36.508316
39085    12/12/1971  05c655dffb5131c4ca38caa6785be1e7  1327338625  42.988339
532525    9/16/1966  7c46aaeb694f660c01cbb24afd920354  1345207624  27.152241
604147    9/20/1958  e9e83e2c650304d76b054a82e697cb16  1347598003  42.504166
...             ...                               ...         ...        ...
1047089    3/5/1972  fb1ddd251bbec9b84c9755e856d51723  1362887989  43.254214
1047157    7/5/1984  4dca0549e43b7e265cae7fd8a7e563b4  1362889904  33.607221
1047208    3/5/1972  d18c55035998e461aa9040e254b74925  1362891561  44.228731
1047521    3/5/1972  bdaeb5e3413a408d7e6c3720a35337d5  1362903771  43.988931
1047918    3/5/1972  8f0bac74e340483b44babb0d6d07b85b  1362917373  42.868322

         merch_long
1003072  -74.703442
698446   -90.709523
39085    -74.423774
532525   -82.999582
604147  -123.037167
...             ...
1047089  -98.267759
1047157  -97.996506
1047208  -98.330520
1047521  -97.989985
1047918  -98.537668

[12012 rows x 22 columns]

In [20]:
print(Y)

1003072    0
698446     0
39085      0
532525     0
604147     0
          ..
1047089    1
1047157    1
1047208    1
1047521    1
1047918    1
Name: is_fraud, Length: 12012, dtype: int64

In [21]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [22]:
print(X.shape, X_train.shape, X_test.shape)

(12012, 22) (9609, 22) (2403, 22)

In [23]:
model = LogisticRegression()

In [26]:
X_test = X_test.select_dtypes(include=[float, int])

In [27]:
X_test = X_test.select_dtypes(include=[float, int])

In [31]:
X_train = X_train.select_dtypes(include=[float, int])

In [33]:
model.fit(X_train, Y_train)

LogisticRegression()

In [34]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [35]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.4999479654490582

In [36]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [37]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.5002080732417811